<section>
    <h3>ABOUT ME.</h3>
    <p>
        Hey! I'm Prateek Kovalli. I train models to behave themself, <br>and build mobile applications that eezs life.<br>
        I am currently working on numerous projects on my own time, <br>and we could together, we can connect here.<br>
        Here are a few technologies I'm comfortable with:
    </p>
    <ul style="list-style-type:square">
        <li>Angular</li>
        <li>Node.js</li>
        <li>React</li>
        <li>Android</li>
        <li>Flutter</li>
        <li>Firebase</li>
        <li>Python | Java | C | JavaScript</li>
        <li>HMTL | CSS </li>
      </ul>
</section>
