<nav id="navbar" class="navbar navbar-default">  
  <div  class="container-fluid">
    <div class="navbar-header">
      <img src="assets\images\portfolio1.jpg "id="img"/>

    </div>
   
    <ul class="nav nav-pills" id="elements">
      <li><a  href="#about">ABOUT</a></li>
      <li><a  href="#project">PROJECTS</a></li>
      <li><a  href="#contact_me">CONTACT</a></li>
      <li><a id="res" href="https://github.com/prateekrk/resume" target="_blank" rel="noopener noreferrer">RESUME</a></li>      
    </ul>
  </div>
</nav>
<div id="intro">
  <h1>I AM,</h1>
  <h2>PRATEEK KOVALLI.</h2>
  <h3>I BUILD MOBILE APPLICATIONS AND ALSO SOME SELF LEARNING MODELS.</h3>
  <p>I'm a senior year undergraduate studying Computer Science  <br>
    and a Android & Machine Learning enthusiast. <br>
    I build Mobile Applications and also Image Processing Models</p>
  <ul class="nav nav-pills">
    <a href="https://github.com/prateekrk" class="fa fa-github" target="_blank" rel="noopener noreferrer"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/prateek-kovalli-7402b5185" target="_blank" rel="noopener noreferrer"></a>
    <a class="fa fa-instagram" href="https://www.instagram.com/im__prk7/" target="_blank" rel="noopener noreferrer"></a>
  </ul>
  <button class="btn btn-primary" (click)="writeEmail($event)">Write me an Email</button>
</div>

<div class="main" id="about">
  <about></about>
</div>

<div class="main" id="project">
  <projects></projects>
</div>

<div id="ending">
  <p>I am always open for the opportunities.<Br>
     For further connection drop me a message.
  </p>
  <div>
     <button class="btn btn-primary" (click)="sayHi($event)">SAY HI 👋 </button>

</div>