@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/scss/font-awesome';

body {
    background-color: #161515;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
